@inherits LayoutComponentBase

<ModalContainer />
<ToastContainer />

<div>
    <MainNavigation></MainNavigation>
    <div class="page">
        <div class="container-fluid">
            @Body
        </div>
    </div>

</div>