@inherits LayoutComponentBase

<ModalContainer />
<ToastContainer />

<div>
    <MainNavigation />
    <TopBar />
    <div class="page-wrapper">
        <div class="container-fluid">
            @Body
        </div>
    </div>

</div>